.contact{
    max-width: 990px;
    margin:2em auto;
    /* background-color: yellow; */
}
input{
    width: 100%;
    padding:.7em;
    margin-bottom:1em;
    border:.3em double var(--mainColor);
    outline:none;
    font-size:1.1rem;
}
label{
    font-size:1.1rem;
    font-weight: bold;
}

@media screen and (max-width:768px) {
    .contact{
        width:70%;
        margin:1em auto;
    }
    .input{
        width: 100%;
        padding:.3em;
        border:.1em solid var(--mainColor);
    }
}