.policy{
    max-width:990px;
    margin:2em auto;
}
li{
    font-size:1.2rem;
    font-family: 'Poppins', sans-serif;
    margin:.2em 0;
}

@media screen and (max-width:768px) {
    .policy{
        width:70%;
        margin:1em auto;
    }
    li{
        font-size:1.1rem;
    }
}